/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
* {
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

img {
  display: block;
  margin: 0 auto;
  max-width: 300px;
}

.movie_area {
  display: flex;
  flex-wrap: wrap;
}

.movie_area div {
  width: 400px;
  padding: 10px;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
